body {
    background: rgb(2, 0, 36);
    background: linear-gradient(137deg, rgba(2, 0, 36, 1) 0%, rgba(1, 1, 24, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.dime {
    width: 540px;
    height: auto;
    margin-top: 5px;
}

.navbar {
    background-color: rgb(66, 66, 70);
    color: cornsilk!important;
}

.pantera {
    width: 300px;
    height: auto;
}



.album-tapestry {
    display: flex;
    flex-wrap: wrap;

}

.squared {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 10px auto;
}

.footer {
    background-color: black;
    height: 100px;
    color: cornsilk;
    padding-top: 20px;
}

.fa {
    margin-left: 20px;
}

.jumbotron {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        background-color: black;
    }
    100% {
        opacity: 1;
        background-color:rgba(123, 8, 230, 0.349);
        color: white;
        
        
    }
}

.badge-container {
    position: relative;
}

.badge {
    position: absolute;
    top: 5px;
    left: 5px;
}

.albumCover {
    border-top-left-radius: 2%!important;
    border-top-right-radius: 2%!important;
    border-bottom-left-radius: 2%!important;
    border-bottom-right-radius: 2%!important;
}